spotnet-venv/
backend/.env
.env


# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

____pycache__/
*.py[cod]
instance/

node_modules/
frontend/node_modules/
dist/
frontend/dist/
frontend/.vite/

*.egg-info/
pip-wheel-metadata/

build/
package-lock.json

data/